<div class="row">
        <div class="large-16 columns">
            <header id="globalMastheadContainer" style="height: 100px;">
                <div id="globalMastheadSearchMenu">
                    <div id="globalMastheadBrandLogo" class="left">
                        <a target="_top" href="http://www1.macys.com/index.ognc?cm_sp=navigation-_-top_nav-_-macys_icon">
                            <div id="macysHomePageLogo" class="globalMastheadLogo" alt="Macy's" title="Macy's"></div>
                        </a>
                    </div>
                </div>
            </header>
        </div>
    </div>