<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/public/stylesheets/macys-base.css">
      <link rel="stylesheet" href="/public/stylesheets/main.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js">
    </script>
    <style>
      .commentImage{
      	border-radius: 50%;
      	margin-top:10px;
      }
      .commentRow{
      	    border-top: 1px solid #eee;
    		height: 103px;
      }
      .commentUser{
      	font-size:25px;
      	font-weight:bold;
      	margin-top: 15px;
      }
      .comment{
      	margin-top:10px;
      }
      .m-header {
    background: #efefef;
    font-weight: bold;
    height: 2.8125em;
    line-height: 2.8125em;
    overflow: hidden;
    padding: 0px 0;
}
.m-back {
    background-repeat: no-repeat;
    background-image: url("http://m.macys.com/mew20/images/arrow-left.svg");
    background-position: left center;
    background-size: 7% 50%;
    cursor: pointer;
}
    </style>
</head>

<body>
	<div class="m-header">
    <div class="row">
      <a href="/"> 	
      <div class="small-16 columns m-header-first"><div id="" class="m-back">&nbsp;</div></div>
     </a>
      
    </div>
  </div>
    <div class="row">
        <div class="large-16 columns">
            <header id="globalMastheadContainer" style="height: 100px;">
                <div id="globalMastheadSearchMenu">
                    <div id="globalMastheadBrandLogo" class="left">
                        <a target="_top" href="/">
                            <div id="macysHomePageLogo" class="globalMastheadLogo" alt="Macy's" title="Macy's"></div>
                        </a>

                    </div>
                    <div class="right">
                      <a target="_top" href="/">
                            <img src="/public/image/videoUpload.jpeg" alt="Smiley face" height="42" width="80">
                        </a>
                    </div> 
                </div>
            </header>
        </div>
    </div>
    <div id="commentarea" style="margin-top: 35px;">
    <% comment.forEach(function(comment) { %>
    <div class="row commentRow">
        <div class="commentImage small-1 small-offset-1  columns">
           <img src="<%= comment.picture%>" alt="Smiley face" height="42" width="42"> 
        </div>
        
        <div class=" small-13 small-offset-1 columns">
        	<div class="row">
        		<div class="commentUser small-16 columns">
            		<%= comment.name%> 
        		</div>
        	</div>	
        	<div class="row">
        		<div class="comment small-16 columns">
            		<%= comment.comment%> 
            	</div>
            </div>		
        </div>
    </div>
    <% }); %>
    </div>
    <div class="row">
        <div class=" commentArea small-14  small-centered columns">
            <input id="commentInput" class="ember-view ember-text-field" maxlength="140" placeholder="Say something nice" name="comment" type="text">
        </div>
    </div>
</body>
<script>
  $(document).ready(function() {

  	$("input").on("keydown",function search(e) {
    if(e.keyCode == 13) {
        // $("#commentarea").append();
    }
    });

  });
</script>

</html>